

/******************************************/
/* Global */

:root{
	--light-black: #212121;
	--cloudy-white: #fafafa;
}

body{
	background-color: var(--cloudy-white);
}

section{
	/*border-bottom: 4px solid var(--light-black);*/
	background-color: var(--cloudy-white);
}

h1,h2,h3,h4,h5{
	font-family: 'Six Caps', sans-serif;
	letter-spacing: 2px;
}

p{
	font-family: 'Alegreya Sans', sans-serif;	
	font-size: 2em;
}

#home{
	width: 100%;
	height: 100vh;
	background-image: url("../asset/landing_1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
}

#about{
	/*background-color: var(--cloudy-white);*/
	min-height: 50vh;
}

#previous-trips{
	/*background-color: var(--light-black);*/
	min-height: 100vh;
}

.prev-trip-1{
	height: 70vh;
	background-image: url("../asset/trip_1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.prev-trip-2{
	height: 70vh;
	background-image: url("../asset/trip_2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.prev-trip-3{
	height: 70vh;
	background-image: url("../asset/trip_3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.prev-trip-4{
	height: 70vh;
	background-image: url("../asset/trip_4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.prev-trip-1:hover .trip-content{
	display: block;
	transition-duration: .5s;
}

.prev-trip-2:hover .trip-content{
	display: block;
	transition-duration: .5s;
}

.prev-trip-3:hover .trip-content{
	display: block;
	transition-duration: .5s;
}

.prev-trip-4:hover .trip-content{
	display: block;
	transition-duration: .5s;
}
.trip-content{
	height: 100%;
	display: none;
	padding: 10px;
	background-color: rgba(0,0,0,0.5);
	transition-duration: 0.2s;
}

#previous-trips .row .col{
	padding: 0;
}

#previous-trips .row .col img.responsive-img{
	margin-bottom: -5px;
}

#social{
	/*background-color: var(--cloudy-white);*/
	min-height: 100vh;
}

#footer{
	/*background-color: var(--light-black);*/
	min-height: 100vh;
}


/******************************************/
/* Home */

nav{
	line-height: 72px;
	/*	background-color: var(--light-black);*/
}

nav a.brand-logo{
	line-height: 54px;
	font-size: 40px;
	font-family: 'Six Caps', sans-serif;
	letter-spacing: 2px;
	border-top: 2px #fafafa solid;
	border-bottom: 2px #fafafa solid;
	margin-top: 8px;
	margin-bottom: 8px;
}

nav ul li span{
	font-family: 'Alegreya Sans', sans-serif;
	line-height: 72px;
}

.landing-content{
	width: 100%;
	height: 100%;
}

.title{
	font-size: 5em;
}

/******************************************/
/* About */


/******************************************/
/* Previous Trips */


/******************************************/
/* Social */


/******************************************/
/* Footer */


