

/******************************************/
/* Global */

:root{
	--light-black: #212121;
	--cloudy-white: #fafafa;
}

body{
	background-color: var(--cloudy-white);
}

section{
	border-bottom: 4px solid var(--light-black);
	background-color: var(--cloudy-white);
}

#home{
	width: 100%;
	height: 100vh;
	background-image: url("../asset/landing_1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}

#about{
	/*background-color: var(--cloudy-white);*/
	min-height: 40vh;
}

#previous-trips{
	/*background-color: var(--light-black);*/
	min-height: 100vh;
}

#social{
	/*background-color: var(--cloudy-white);*/
	min-height: 100vh;
}

#footer{
	/*background-color: var(--light-black);*/
	min-height: 100vh;
}


/******************************************/
/* Home */

nav{
	line-height: 72px;
	/*	background-color: var(--light-black);*/
}

nav a.brand-logo{
	line-height: 72px;
	font-family: 'Alegreya Sans', sans-serif;
}

nav ul li span{
	font-family: 'Alegreya Sans', sans-serif;
	line-height: 72px;
}

.landing-content{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


/******************************************/
/* About */


/******************************************/
/* Previous Trips */


/******************************************/
/* Social */


/******************************************/
/* Footer */


